{% extends 'base.html' %}

{% load static %}

{% block content %}

<html lang="en">
  <body>
    <head>
      <link
        href="{% static 'styles/decode.css' %}"
        rel="stylesheet"
      />    
    <div class="mainbody">
      <div id="maintext">Decode</div>
        <div class="decode-card">
          <!-- <div class="uploadedimgcontainer"><img id="uploadedimg" src="{{ field.image.url }}"></div> -->
            <div class="form-card">
                <form class="form-parent" method="POST" enctype="multipart/form-data">
                    <div class="form">
                    {% csrf_token %}
                    {{form}}
                    </div>
                    <div class="decode">
                    <input type="submit" id="submit" value="Decode Image!">     
                    </div>           
                </form>               
            </div>
        </div>
    </div>
    <script>
      var slideup = {
      distance: '100%',
      origin: 'bottom',
      opacity: 0
      };

      var slideleft = {
    distance: '50%',
    origin: 'right',
    opacity: 0
    };
      
      ScrollReveal().reveal('#maintext', { duration: 2500 });
      ScrollReveal().reveal('#maintext', slideup);
      ScrollReveal().reveal('.decode-card', { delay: 300, duration: 2200 });
      ScrollReveal().reveal('.decode-card', slideleft);

    </script>
  </body>
</html>

{% endblock %}