{% extends 'base.html' %}

{% load static %}

{% block content %}

<html lang="en">
  <body>
    <head>
      <link
        href="{% static 'styles/encode.css' %}"
        rel="stylesheet"
      />    
      <!-- <script>
        function msg(){
          console.log(document.getElementById('textarea').value);
          msg = document.getElementById('message');
          msg.innerHTML = document.getElementById('textarea').value;
        }
      </script> -->
      
    </head>

    <div class="mainbody">
      <div id="maintext">Encode</div>
        <div class="encode-card">
          <!-- <div class="uploadedimgcontainer"><img id="uploadedimg" src="{{ field.image.url }}"></div> -->
            <div class="form-card">
                <form class="form-parent" method="POST" enctype="multipart/form-data">
                    <div class="form">
                    {% csrf_token %}
                    <table>
                    <tr>
                    <td class="toprow">{{form.image}}</td>
                    <td class="toprow" id="keycontainer">
                      <label>Key:</label>
                      <input maxlength="10" id="key" value="{{key}}" readonly></input>
                    </td>
                    <td class="toprow">{{form.filename}}</td>
                    </tr>
                  </table>
                    </div>
                    <!-- <textarea id="textarea" placeholder="Add a message to be encoded into the image"></textarea> -->
                    {{form.message}}
                    
                    <div class="encode">
                    <button type="submit"  id="submit">Encode and Download!</button>   
                    </div>           
                </form>     
            </div>
            {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
        </div>
    </div>
    <script>
      var slideup = {
      distance: '100%',
      origin: 'bottom',
      opacity: 0
      };

      var slideleft = {
      distance: '50%',
      origin: 'right',
      opacity: 0
      };
      
      ScrollReveal().reveal('#maintext', { duration: 2500 });
      ScrollReveal().reveal('#maintext', slideup);
      ScrollReveal().reveal('.encode-card', { delay: 300, duration: 2200 });
      ScrollReveal().reveal('.encode-card', slideleft);

    </script>
  </body>
</html>

{% endblock %}