{% extends "base.html" %}

{% load static %}

{% block content %}

<html lang="en">
  <head>
    <link
      href="{% static 'styles/main-copy.css' %}"
      rel="stylesheet"
    />
    <script src="{% static 'js/test.js' %}"></script>
  <body>
    <div class="mainbody">
        <div class="half"><a href="{% url 'encode' %}">Encode</a></div>
        <div class="half"><a href="{% url 'decode' %}">Decode</a></div>
      <!-- <div class="container">
        <ul>
          <li class="enden" align="center"><a class="option" href="{% url 'encode' %}">Encode</a></li>
          <li class="enden" align="center"><a class="option" href="{% url 'encode' %}">Decode</a></li>
        </ul>
      </div> -->
    </div>
  </body>
</html>

{% endblock %}