.half{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    font-size: 5rem;
}

.jump{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
}

.maintext{
    font-weight: 800;
}

.subtext{
    color: rgb(255, 227, 238);
    font-size: 2rem;
}
.jump:hover .maintext{
    scale: 104%;
    animation: bounce 4s infinite;
	-webkit-animation: bounce 4s infinite;
	-moz-animation: bounce 4s infinite;
	-o-animation: bounce 4s infinite;
    animation-timing-function: ease-in-out;
    transition: all 0.5s;
}

.jump:hover .subtext{
    color: rgb(255, 190, 216);
    transition: all 0.3s;
}

.half:hover{
    background-color: rgb(255,0,99);
    background-color: -moz-linear-gradient(270deg, rgba(255,0,99,1) 6%, rgba(255,0,74,1) 100%);
    background-color: -webkit-linear-gradient(270deg, rgba(255,0,99,1) 6%, rgba(255,0,74,1) 100%);
    background-color: linear-gradient(270deg, rgba(255,0,99,1) 6%, rgba(255,0,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0063",endColorstr="#ff004a",GradientType=1);
    box-shadow: inset 0 30px 25px -25px rgba(0,0,0,0.408);
    box-shadow: 0px 20px 30px 10px rgba(255,0,99,0.4);
    transition: all 0.8s;
}

@-webkit-keyframes bounce {
<<<<<<< HEAD
	0%, 100% {-webkit-transform: translateY(0); opacity: 1; scale: 100%;}	
	50% {-webkit-transform: translateY(-8px); opacity: 0.5; scale: 95%;}
}
 
@-moz-keyframes bounce {
	0%, 100% {-moz-transform: translateY(0); opacity: 1; scale: 100%}
	50% {-moz-transform: translateY(-8px); opacity: 0.5; scale: 95%;}
}
 
@-o-keyframes bounce {
	0%, 100% {-o-transform: translateY(0); opacity: 1; scale: 100%}
	50% {-o-transform: translateY(-8px); opacity: 0.5; scale: 95%;}
}
@keyframes bounce {
	0%, 100% {transform: translateY(0); opacity: 1; scale: 100%}
	50% {transform: translateY(-8px); opacity: 0.5; scale: 95%;}
}


/* .container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0rem;
    border: 1px solid red;
}

.enden{
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    padding: 3rem;
    margin: 0;
    border-bottom: 3px solid rgba(0,0,0,0);
}

.option{
    font-size: xx-large;
    padding: 0.8rem 1.8rem;
    color: rgb(255, 255, 255);
    margin: 0;

}

.enden:hover .option{
    color: rgb(255, 0, 93);
    scale: 110%;
    transition: color 0.3s, scale 0.3s;
}

.enden:hover{
    border-bottom: 3px solid rgb(255, 255, 255);
    transition: border-bottom 0.2s;
} */
=======
    0%, 100% {-webkit-transform: translateY(0); opacity: 1;}
    50% {-webkit-transform: translateY(-3px); opacity: 0.4;}
}
 
@-moz-keyframes bounce {
    0%, 100% {-moz-transform: translateY(0); opacity: 1;}
    50% {-moz-transform: translateY(-3px); opacity: 0.4;}
}
 
@-o-keyframes bounce {
    0%, 100% {-o-transform: translateY(0); opacity: 1;}
    50% {-o-transform: translateY(-3px); opacity: 0.4;}
}
@keyframes bounce {
    0%, 100% {transform: translateY(0); opacity: 1;}
    50% {transform: translateY(-3px); opacity: 0.4;}
}
>>>>>>> ca40282d48368c1918a1ea3d3e372cea82e114d6
