




/* .container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0rem;
    border: 1px solid red;
}

.enden{
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    padding: 3rem;
    margin: 0;
    border-bottom: 3px solid rgba(0,0,0,0);
}

.option{
    font-size: xx-large;
    padding: 0.8rem 1.8rem;
    color: rgb(255, 255, 255);
    margin: 0;

}

.enden:hover .option{
    color: rgb(255, 0, 93);
    scale: 110%;
    transition: color 0.3s, scale 0.3s;
}

.enden:hover{
    border-bottom: 3px solid rgb(255, 255, 255);
    transition: border-bottom 0.2s;
} */